@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

body {


    background-color: #836faa;
    text-align: center;

}


* {
    list-style: none;
    padding: 0;
    margin: 0;
    left: 0;

}


.topnav {

    background-color: #231a33;
    position: fixed;
    /*float: left;*/
    width: 200px;
    height: 100%;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    top: 0;
}

.topnav a {

    height: 100%;
    width: 100%;
    display: block;
    color: #ffffff;
    text-align: center;
    padding-left: 20px;
    text-decoration: none;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 50px;
    border: #000000;



}

.topnav a:hover {

    background-color: #ffffff;
    color: #000000;


}

.min-sida {
    margin-top: 200px;
    margin-bottom: 200px;
    line-height: 1.6;
    
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #372951;
   
    margin-left: 250px;
    margin-right: 250px;
    
    flex-direction: row;
    align-items: center;
    border-style: hidden;
    border-radius: 15px;
    overflow: hidden;
}
   
.link {

    

}


main {
    margin-left: 200px;
}
h1 {
    font-family: 'Courier New', monospace;
    color: #ffffff;

}

h2,
p {
    font-family: 'Times New Roman', serif;
    color: #ffffff;
}

button {

    margin-top: 25px;

    outline: thick ridge #cab4ff;
}

@media screen and (max-width: 600px) {
   body {
        background-color: aqua;
    }
}

/* .min-sida {

     background-color: #372951;
   
    margin-left: 200px;
    margin-right: 200px;
    
    flex-direction: row;
    align-items: center; 
    

}